.DS_Store
pyborg-1.1.2/experimental/pyborg-twisted.py
pyborg-1.1.2/answers.txt
pyborg-1.1.2/archive.zip
pyborg-1.1.2/cfgfile.pyc
pyborg-1.1.2/pyborg.cfg
pyborg-1.1.2/pyborg.pyc
pyborg-1.1.2/sentences.txt
pyborg-1.1.2/words.txt
pyborg-1.1.2/lines.dat
pyborg-1.1.2/words.dat
pyborg-1.1.2/version
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/