.DS_Store
pyborg-1.1.2/experimental/pyborg-twisted.py
pyborg-1.1.2/answers.txt
pyborg-1.1.2/archive.zip
pyborg-1.1.2/cfgfile.pyc
pyborg-1.1.2/pyborg.cfg
pyborg-1.1.2/pyborg.pyc
pyborg-1.1.2/sentences.txt
pyborg-1.1.2/words.txt
pyborg-1.1.2/lines.dat
pyborg-1.1.2/words.dat
pyborg-1.1.2/version
*.pyc