dist: xenial

language: python

python:
  - "3.6"
  - "3.7"

install: 
    - pip install tox-travis nltk
    - python -c "import nltk; nltk.download('punkt averaged_perceptron_tagger')"

script: tox
addons:
  apt:
    packages:
      - libenchant-dev
cache:
  directories:
    - $HOME/.cache/pypoetry/cache
    - $HOME/nltk_data

after_success:
  - bash <(curl -s https://codecov.io/bash)