[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

green = "*"
coverage = "*"
mock = "*"
sphinx-click = "*"
click = "*"
sphinx-autobuild = "*"
"backports.shutil_get_terminal_size" = {version = "*", markers = "python_version <= '3.0'"}
funcsigs = "*"
mypy = {version = "*", markers = "python_version >= '3.0'"}
typed-ast = {version = "*", markers = "python_version >= '3.0'"}



[packages]

aeidon = {version = "*", markers = "python_version >= '3.0'"}
multidict = {version = "*", markers = "python_version >= '3.0'"}
websockets = {version = "*", markers = "python_version >= '3.0'"}
aiohttp = {version = "*", markers = "python_version >= '3.0'"}
async_timeout = {version = "*", markers = "python_version >= '3.0'"}
arrow = ">=0.10.0"
attrs = "*"
bottle = "==0.12.13"
certifi = "*"
chardet = "==3.0.4"
click = ">=6.7"
"discord.py" = {version = "*", markers = "python_version >= '3.0'"}
humanize = "==0.5.1"
inflect = "==0.2.5"
irc = "==16.0"
"Mastodon.py" = "*"
"oauth2" = "==1.9.0.post1"
praw = "*"
PyTumblr = "==0.0.6"
pytz = "*"
requests = ">=2.18"
statsd = "*"
toml = "*"
update_checker = "==0.16"
venusian = "==1.1.0"
lxml = "*"
"4392609" = {path = "pyborg", editable = true}
prompt_toolkit = "*"
tweepy = "*"
